<div id="bar">
  <div class="row">
    <div class="large-16 column">
      <div class="menu-centered">
        <ul class="menu">
          <li class="inactive">
            <%= link_to 'HOME', root_path %>
          </li>
          <li class="inactive">
            <%= link_to 'MOVIES', movies_path %>
          </li>
          <li class="active">
            <%= link_to 'GENRES', genres_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row container">

  <div class="large-12 columns">

    <% if !notice.nil? %>
        <div class="row row-buffer"></div>

        <div class="row">
          <div class="large-6 medium-6 small-6 columns">
            <div class="callout primary">
              <%= notice %>
            </div>
          </div>
        </div>
    <% end %>

    <div class="row row-buffer"></div>
  </div>

  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th><h2>Genre</h2></th>
          <th><h2><i class="fi-eye"></i></h2></th>
          <th><h2><i class="fi-page-edit"></i></h2></th>
          <th><h2><i class="fi-trash"></i></h2></th>
        </tr>
      </thead>
      <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to 'Show', genre %></td>
          <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
          <td><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div><!-- end container -->

<div class="row row-buffer"></div>

<div class="row">
  <div class="large-12 colums">
    <ul class="menu">
      <li>
        <%= link_to 'NEW GENRE', new_genre_path %>
      </li>
    </ul>
  </div>
</div>
