
<div id="bar">
  <div class="row">
    <div class="large-16 column">
      <div class="menu-centered">
        <ul class="menu">
          <li class="inactive">
            <%= link_to 'HOME', root_path %>
          </li>
          <li class="active">
            <%= link_to 'MOVIES', movies_path %>
          </li>
          <li class="inactive">
            <%= link_to 'GENRES', genres_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row container">
  <div class="large-12 columns">

    <div class="row row-buffer"></div>

    <div class="row">
      <div class="large-4 medium-4 columns">
        <div class="input-group">
          <input class="input-group-field search-field" type="search" placeholder="Search ...">
                        <span class="input-group-label">
                            <i class="fi-page-search"></i>
                        </span>
        </div>
      </div>
    </div>

    <div class="row">
      <% @movies.each do |movie| %>
          <div class="large-3 medium-4 columns end">
            <%= link_to movie do %>
              <img src="images/<%= movie.poster %>">
            <% end %>
          </div>
    <% end %>
    </div>

  </div>

  <div class="row row-buffer"></div>

</div>

<div class="row row-buffer"></div>

<div class="row">
  <div class="large-12 colums">
    <ul class="menu">
      <li>
        <%= link_to 'NEW MOVIE', new_movie_path %>
      </li>
    </ul>
  </div>
</div>

<p id="notice"><%= notice %></p>