<!DOCTYPE html>
<html>
<head>
  <title>MovieLibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "foundation.min.css" %>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "motion-ui.css" %>
  <%= stylesheet_link_tag "responsive-tables.css" %>
  <%= stylesheet_link_tag "fonts/foundation-icons.css" %>
  <%= javascript_include_tag "foundation.min.js" %>
</head>
<body>

<%= yield %>

</body>
</html>
